*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header and nav style */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 5px 30px;
    background-color: #1F2937;
    padding: 5px 13vw 0px 13vw;
}
.header #logo{
    font-size: 24px;
    color: #F9faf8;
}
.header nav ul{
    display: flex;
}
.header nav a{
    text-decoration: none;
    color: #e5e7eb;
}
.header nav li{
    list-style: none;
    padding: 5px;
}

/* section one styles */
.section-one{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 50px;
}
.section-one .logo{
    width: 30vw;
}
.section-one h1{
    font-size: 48px;
    color: #f9faf8;
}
.section-one p{
    font-size: 18px;
    color: #e5e7eb;
}
.section-one button{
    background-color: #3882f6;
    border: 0;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    cursor: pointer;
}

/* section two style */
.section-two{
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-two h2{
    font-size: 36px;
    color: #1f2937;
}
.section-two .image-container{
    flex-wrap: wrap;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.image-card{
    margin: 20px;
}
.section-two div .image{
    height: 12vh;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}
.section-two div p{
    font-size: 0.7rem;
    color: darkgray;
}

/* section three styles */
.section-three{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 30px;
}
.section-three p{
    font-size: 2rem;
}

/* section four styles */
.section-four{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 30px;
}
.cta-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 12vh;
    width: 40vw;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}
.cta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.section-four button{
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    border-radius: 5px;
    margin-left: 20px;
    padding: 3px 5px 3px 5px;
    color: #f9faf8;
    cursor: pointer;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 7vh;
    color: #e5e7eb;
}